@import "./../../variables";

header {
  background-color: $primary-color;
  border-bottom: 2px solid $primary-color-darker;
  color: $app-bg;
  padding: 10px;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

h1 {
  display: inline-block;
  color: inherit;
}

div {
  display: grid;
  align-content: center;
  color: inherit;
}
