@import "./../variables";

:host {
  display: grid;
  min-height: 100vh;
  height: 100%;
  width: 768px;
  grid-template-rows: 45px auto auto;
  background-color: $app-bg;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  :host {
    width: 100%;
  }
}
