$app-bg: #fffffa;
$text-bg: #fff5e0;
$text-bg-darker: #e6dcc7;
$text-color: #000000;
$primary-color: #7f03ba;
$primary-color-darker: #6600a1;
$secondary-color: #ba7f03;
$secondary-color-darker: #a16600;
$tertiary-color: #03ba7f;
$tertiary-color-darker: #00a166;
$body-bg: #323232;
